<h2>Dados do Proponente</h2>
<form class="form" [formGroup]= "proponente" (submit)="submitForm()">

<mat-card class="card">
    <div class="container">
    <div>
        <mat-form-field appearance="outline">
            <mat-label for="nome">Nome Completo </mat-label>
            <input matInput type="text" class="form-control" id="nome" formControlName= "nome">
                <mat-hint>Preencha com seu nome completo</mat-hint>
                <mat-error *ngIf="proponente.get('nome')hasError('nome') && !proponente.hasError('required')">
                    Campo Obrigatório
                </mat-error>
        </mat-form-field>     
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label for="profissao">Profissão</mat-label>
            <input matInput type="text" class="form-control" id="profissao" formControlName= "profissao">
                <mat-hint>Preencha com sua profissão</mat-hint>
                <mat-error *ngIf="proponente.get('profissao')hasError('profissao') && !proponente.hasError('required')">
                    Campo Obrigatório
                </mat-error>
        </mat-form-field>     
    </div>

    <div>
        <mat-form-field appearance="outline">  
            <mat-label for="cpf">CPF</mat-label>
            <input matInput type="text" class="form-control" id="cpf" formControlName= "cpf">
                <mat-hint>Preencha com seu CPF</mat-hint>
                <mat-error *ngIf="proponente.get('cpf')hasError('cpf') && !proponente.hasError('required')">
                    CPF deve ter 11 dígitos
                </mat-error>
        </mat-form-field>   
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label for="email">Email</mat-label>
            <input matInput type="email" class="form-control" id="email" formControlName= "email">
                <mat-hint>Preencha com um Email Válido</mat-hint>
                <mat-error *ngIf="proponente.get('email')hasError('email') && !proponente.hasError('required')">
                    Preencha com um Email válido
                </mat-error>
        </mat-form-field>   
    </div>

    <div>
        <mat-form-field appearance="outline"> 
            <mat-label for="data">Data de Nascimento</mat-label>
            <input matInput type="text" class="form-control" id="data" formControlName= "data">
                <mat-hint>Preencha com sua data de Nascimento</mat-hint>
                <mat-error *ngIf="proponente.get('data')hasError('data') && !proponente.hasError('required')">
                    Dado Obrigatório
                </mat-error>
        </mat-form-field>  
    </div>
    
    <div>
        <mat-form-field appearance="outline">
            <mat-label for="cep">CEP</mat-label>
            <input matInput type="text" class="form-control" id="cep" formControlName= "cep">
                <mat-hint>Preencha com o Cep</mat-hint>
                <mat-error *ngIf="proponente.get('cep')hasError('cep') && !proponente.hasError('required')">
                    Cep deve conter 9 digítos
                </mat-error>
        </mat-form-field>           
        </div>

    <div>
        <mat-form-field appearance="outline">  
            <mat-label for="telefone">Celular</mat-label>
            <input matInput type="tel" class="form-control" id="telefone" formControlName= "telefone">
                <mat-hint>Preencha com seu celular</mat-hint>
                <mat-error *ngIf="proponente.get('telefone')hasError('telefone') && !proponente.hasError('required')">
                    Preencha com seu celular
                </mat-error> 
        </mat-form-field>       
    </div>
    </div>
    
    <mat-divider class="divider"></mat-divider>

        <div class="button">   
             
            <a routerLink="/inicial" class="cancelar">
                <button mat-raised-button class="btn-1">Cancelar</button>
            </a>
            <a routerLink="/imovel" class="submit">
                <button [disabled]="submittingForm || proponente.invalid" type="submit" mat-raised-button class="btn-2">Continuar</button>
            </a>
        </div>
</mat-card>
</form>
