.card{
    margin: 1%;
}

.container{
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.button{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.btn-2{
    background-color: rgb(78, 4, 148);
    color: white;

}

.btn-1{
    color: rgb(78, 4, 148);
}

.h2{
    font-size: 100% ;
    padding: 5px;
    margin-left: 1%;
}