<h2 class="h2">Tela inicial</h2>
 <mat-card class="card">  
  <div div class="div">
    </div>
      <div class="text">
      <h3 class="h3">Conquiste o sonho da casa própria</h3>
      <mat-divider class="divider"></mat-divider>
      <p class="p">Em apenas alguns passos fique mais perto de <br> segurar as chaves :)</p>
      <a routerLink="/proponente">
        <button mat-raised-button class="btn">Simular Financiamentos</button>
      </a>
    </div>

    <div>
      <img class="img2" [src]="image">
  </div>
</mat-card>