<h2 class="h2" tabindex="0">Tela inicial</h2>
<section>
  <mat-card class="card">
    <div div class="div"></div>
    <div class="text">
      <h3 class="h3" tabindex="0"><b>Conquiste o sonho da casa própria</b></h3>
      <mat-divider class="divider"></mat-divider>
      <p class="p" tabindex="0">
        <b>
          Em apenas alguns passos fique mais perto de <br />
          segurar as chaves
          <div role="img" aria-label="smile">:)</div></b
        >
      </p>
      <a routerLink="/proponente">
        <button mat-raised-button class="btn">Simular Financiamento</button>
      </a>
    </div>

    <div>
      <img class="img2" [src]="image" />
    </div>
  </mat-card>
</section>
